/* body {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;

}

td:nth-of-type(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tr:nth-of-type(2) td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
} */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9)
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-color: black; */
    border: 1px solid black;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}